@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

#background {
    background-color: #f7eddc;
    height: 700px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#header {
    height: 20%;
    width: 100%;
    background-color: black;
    text-align: center;
    display: inline-block;
}

#topBar {
    display: inline-block;
    height: 5%;
    width: 100%;
    background-color: rgb(182, 168, 168);
    text-align: center;
}

#introInfo {
    float: left;
    height: 60%;
    width: 30%;
    border: none;
    background: none;
    text-align: center;
    margin-right: 5em;
    margin-left: 2em;
}

#needSpace {
    padding-bottom: 2em;
}

#Register {
    display: none
}

#logTabs {
    float: right;
    position: relative;
    width: 50%;
    height: 75%;
    margin-right: 2em;
}

#logContainer {
    display: block;
    width: 100%;
    
}

#loginButton {
    font-size: 20px;
    background-color: lightblue;
    margin-top: 2em;
    margin-left: 37%;
}

#regButton {
    font-size: 20px;
    background-color: lightblue;
    margin-top: 2em;
    margin-left: 37%;
}

.tabs {
    margin-top: 2em; 
    display: block;
}

.tablinks {
    font-size: 24px;
    border-radius: 8px;
}

.tabcontent {
    height: 80%;
    width: 100%;
    border: 2px solid black;
    display: block;
    position: relative;
    float: right;
}

.FormField {
    margin-top: 1em;
    margin-left: 30%;
}

.FormField__Checkbox {
    display: inline;
}

form {
    margin-top: 2em;
    margin-left: 30%;
}

label {
    display: block;
}

input {
    display: block;
    min-width: 60%;
}

h1 {
    color: white;
    font-family: 'Permanent Marker', cursive;
}

h5 {
    display: inline;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    color: white;
    position: relative;
 
}

h3 {
    float: left;
    margin-left: 2em;
    font-size: 20px;
    width: 100%;
}

p {
    color: black;
}
/* #mainContainer {
    padding: 3.33vh 0vw 3.33vh 0vw;
}

#profileRow {
    height: 36vh;
    padding: 0;
    margin: 0vh 0.25vw 0vh 0.25vw;
}

#listingsRow {
    height: 36vh;
    margin: 0vh 0.25vw 0vh 0.25vw;
}

#rowDivider {
    height: 1.34vh;
}

hr {
    display: block;
    width: 95vw;
    border: 0.0625vh solid black;
    margin: 0.5vh 0vh 0vh 0vh;
    position: relative;
    left: 2.5vw;
}

#profilePictureArea {
    background: red;
}

#bioArea {
    background: orange;
}

#ratingArea {
    background: yellow;
}

#progressArea {
    background: darkgoldenrod;
}

#postedListings {
    display: inline-block;
    background: indigo;
    overflow-y: scroll;
    width: 49%;
    height: 100%;
    margin: 0% 3% 0% 0.5%;
}

#favoriteListings {
    display: inline-block;
    background: violet;
    overflow-y: scroll;
    width: 47%;
    height: 100%;
    margin: 0% 0% 0% 0%;
}

/* Scrollbar styles */
/*::-webkit-scrollbar {
    width: 12px;
    height: 24px;
    background: #f7eddc;
}

::-webkit-scrollbar-track {
    background: #948e84;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #aca59a;
}

::-webkit-scrollbar-thumb:hover {
    background: #c5bdb0;
} */