.filtersContainer{
    height: 80%;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    padding-right: 25px;
    font-size: 12;
    /* overflow: auto; */
}
.caret {
    border-color: transparent !important;
}
.input-field label:not(.label-icon).active {
    transform: translateY(-150%) !important;
}
.titleFilters{
    padding-bottom: 20%;
}
.roomType > Input{
    display: block;
}

.homeType > Input{
    display: block;
}

.titleFilters{
    text-align: center;
    height: 16%;
}

.listOfFilters{
    border: 1px solid blue;
    height: 80%;
    overflow: auto;
    display: block;
}

.listOfFilters > li{
    margin: 5%;
}

.dropdownContainer{
    display: none;
    list-style-type: none;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}