#forgotModal1{
    margin: auto;
    padding: 30px!important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
}
#forgotModal2{
    margin: auto;
    padding: 30px!important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
}
#forgotModal3{
    margin: auto;
    padding: 30px!important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
}
#forgotModal4{
    margin: auto;
    padding: 30px!important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
}

.FPcancel{
    margin:3px!important;
}

#wrongCode, #codeResent {
    color: red;
    display: none;
}

.fpButtons {
    position: absolute;
    left: 1%;
    bottom: 1%;
}

.error{
    color:red
}
.hidden{
    display:none
}
