/*.modalBox {*/
    /*background: none;*/
    /*border: none;*/
/*}*/

#forgotModal1{
    margin: auto;
    padding: 30px!important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
}
#forgotModal2{
    margin: auto;
    padding: 30px!important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
}
#forgotModal3{
    margin: auto;
    padding: 30px!important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
}
#forgotModal4{
    margin: auto;
    padding: 30px!important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
}

.FPcancel{
    margin:3px!important;
}
/*h3 {*/
    /*float: left;*/
    /*margin-left: 2em;*/
    /*font-size: 25px;*/
    /*width: 100%;*/
/*}*/

/*.FPinputs {*/
    /*margin-left: 30%;*/
/*}*/

/*label {*/
    /*display: block;*/
/*}*/

/*.FPinputbox {*/
    /*min-width: 60%;*/
/*}*/

/*.FPsubmit {*/
    /*font-size: 20px;*/
    /*background-color: lightblue;*/
    /*margin-top: 2em;*/
    /*margin-left: 30%;*/
/*}*/

/*.FPcancel {*/
    /*font-size: 20px;*/
    /*position: absolute;*/
    /*right: 2%;*/
    /*bottom: 2%;*/
/*}*/

/*#resendCode {*/
    /*float: right;*/
    /*color: blue;*/
    /*background: none;*/
    /*border: none;*/
    /*margin-right: 27%;*/
/*}*/

/*#codeResent {*/
    /*text-align: center;*/
    /*color: red;*/
    /*display: none;*/
/*}*/
