.singleListing{
    height: 250px;
    margin-bottom: 55px;
}
.imageBox{
    position:relative;
    /*border:2px solid grey;*/
    width: 100%;
    height: 70%;
    vertical-align: center;
}
.leaseName {
    position: relative;
    color: black;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: left;
    cursor: pointer;

}

.leaseImage{
    width: 100%;
    height: 100%;
    position:relative;
    cursor: pointer;

}

.infoBox{
    width: 102%;
    /* border: 6px solid grey; */
    display: grid;
    position: relative;
    margin: -2px;
    padding-top: 5%;
    padding: 5%;
    grid-template-columns: 63px;
    background: floralwhite;
}
.userPicture{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-col-start:1;
    grid-col-end:2;
    border-radius: 50%;
    max-height: 35px;
    min-height: 35px;
    cursor: pointer;
}
.userName{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    font-size: 12px;
    text-align: left;
    margin-left: -10%;
    cursor: pointer;

}
.distance{
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:3;
    font-size: 12px;
    justify-self: end;

}
.address{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;

    font-size: 12px;
    text-align: left;

}
.price{
    grid-row-start: 3;
    font-size: 12px;
    text-align: center;

}
.userRating{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    color:lightpink;
    font-size: 12px;
    text-align: left;
    margin-left: -10%;
}
.dateDiff{
    grid-column-start:4;
    grid-column-end:5;
    justify-self: end;
    font-size: 12px;


}

.fa{
    font-size: 10px;
}

.favorite{
    color:lightpink;
    left:84.5%;
    top:1%;
    position: absolute;
    /*position:relative;*/

}


.modal {
    top: 0;
    bottom: 0;
    background: none !important;
}


h3{
    margin-left: 0 !important;
}


