#logTabs {
    float: right;
    position: relative;
    width: 50%;
    margin-right: 7%;
}

.logContainer {
    display: block;
    width: 100%;   
}

.btnSubmit {
    font-size: 20px;
    background-color: lightblue;
    margin-top: 3%;
}

#divLastName {
    margin-left: 10%;
}

.tabs {
    margin-top: 2em; 
}

.tablinks {
    font-size: 24px;
    border-radius: 8px;
}

.tabcontent {
    width: 100%;
    border: 2px solid black;
    position: relative;
    float: right;
    padding-bottom: 5%;
}

.FormField_name {
    display: -webkit-inline-box; 
}

.FormField__Label {
    display: block;
    color: #ee6e73;
}

form {
    margin-top: 2em;
    margin-left: 10%;
}

#password{
    display: block;
}

#loginEmail{
    display: block;
}

#submitDiv {
    margin-top: 2%;
}

.FormField .col {
    padding: 0px !important;
}

.FormField__TermsLink {
    margin-left: 5px;
}