.postModal {
    background: none;
    border: none;
}

.postModal > .modal {
    border: 1px solid black;
    display: block;
    width: 60%;
    /*
    position: fixed;
    background-color: #f7eddc;
    margin-left: 20%;
    margin-top: 5%;*/
}

#makePostTitle {
    margin-left: 3%;
    margin-top: 3%;
    font-size: 25px;
    color: black;
    /* width: 100%; */
}

.caret {
    border-color: transparent !important;
}

#submitPost {
    /* font-size: 20px; */
    background-color: lightblue;
    color: black;
    position: absolute;
    font-size: 20px;
    height: 10%;
    bottom: 1%;
    right: 1%;
}

.postContainer {
    border: 1px solid green;
    /* height: 100% */
}

.postInfoBox {
    border: 1px solid yellow;
    height: 400px;
}

.featureBox {
    border: 1px solid blue;
    height: 400px;
}

.picBox {
    border: 1px solid purple;
    height: 300px;
}