.searchBox{
    width: 40vw !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.settingsContainer{
    /* float: right; */
}

.navbar{
    height: 110px;
    background-color: black;
}

.container-fluid{
    margin: 2%;
}

.navbar-left{
    margin: 0 0;
}


.profileContainer{
    display: block;
    bottom: 2vw;
    left: 2%;
    float: right;
    width: 180px;
}

.profileContainer > div{
    color: white;
    height: 35px;
}

.nav i{
    font-size: 18px;
}

.logoPic{
    height: 50px;
    width: 50px;
}

.welcome{
    height: 20px;
}

.fa-user-circle-o{
    margin-left: 3%;
}


.searchIcon{
    position: relative;
    right: 25px;
    height: 0px;
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 767px){
    .form-group{
        height: 0vh;
    }
}

