.searchBox{
    width: 40vw !important;
}

.settingsContainer{
    /* float: right; */
}

.navbar{
    height: 110px;
}

.container-fluid{
    margin: 2%;
}

.navbar-left{
    /* margin-left: 20%; */
}


.profileContainer{
    display: block;
    bottom: 2vw;
    left: 2%;
    float: right;
}

.profileContainer > div{
    color: white;
    height: 35px;
}

.nav i{
    font-size: 18px;
}

.logoPic{
    height: 50px;
    width: 50px;
}

.welcome{
    height: 20px;
}

/* ul:not(.browser-default) li {
    width: 35px;
} */


