.popup {
    position: fixed;
    width: 100%;
    height: 150%;
    top: 20vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }

.ppopup {
    position: fixed;
    width: 100%;
    height: 120%;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 10%;
    bottom: 25%;
    margin: auto;
    background: white;
    font-family: 'Times New Roman', Times, serif;
}

.title{
  color:blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.caret {
  border-color:transparent !important;
}

#button1{ 
  margin:10% !important;
}

#button2{ 
  margin-top: 41% !important;
  margin-left: 15% !important;
}
#chooseButton{
  margin:0%;
}
#uploadButton{
  margin:0%;
}
#button4{ 
  margin-top:53% !important;
  margin-left:20%;
}
#displayPic {
  background: transparent;
  position: absolute;
  left: 55%;
  width: 32%;
  height: 35%;
  top: 18vh;
  flex:right;
}
#pic {
  float:right;
  top: 40%;
}
.inputs {
  margin: 0vh;
  max-height: 20px;
  margin-bottom: 5vh;
}
.inputsB {
  margin: 20vh;
  max-height: 150px;
  height:150px;
  margin-top:3% !important;
}

::-webkit-scrollbar {
  width: 12px;
  height: 24px;
  background: #f7eddc;
}

::-webkit-scrollbar-track {
  background: #948e84;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #aca59a;
}

::-webkit-scrollbar-thumb:hover {
  background: #c5bdb0;
}