#background {
    background-color: #f7eddc;
    height: 600px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: left;
}

#header {
    height: 25%;
    width: 100%;
    background-color: black;
    text-align: center;
    top: 0px;
}

h1 {
    color: black;
}
#mainContainer {
    padding: 3.33vh 0vw 3.33vh 0vw;
}

#profileRow {
    height: 36vh;
    padding: 0;
    margin: 0vh 0.25vw 0vh 0.25vw;
}

#listingsRow {
    height: 36vh;
    margin: 0vh 0.25vw 0vh 0.25vw;
}

#rowDivider {
    height: 1.34vh;
}

hr {
    display: block;
    width: 95vw;
    border: 0.0625vh solid black;
    margin: 0.5vh 0vh 0vh 0vh;
    position: relative;
    left: 2.5vw;
}

#profilePictureArea {
    height: 150px;
    width: 150px;
    align-items: center;
    background: transparent;
    float: left;
}

#bioArea {
    background:  #f7eddc;
    width: 100%;
    height: 100px;
    line-height: 1;
}

#ratingArea {
    background: yellow;
}

#progressArea {
    background: darkgoldenrod;
}

#postedListings {
    display: inline-block;
    background: indigo;
    overflow-y: scroll;
    width: 49%;
    height: 100%;
    margin: 0% 3% 0% 0.5%;
}

#favoriteListings {
    display: inline-block;
    background: transparent;
    overflow-y: scroll;
    width: 47%;
    height: 100%;
    margin: 0% 0% 0% 0%;
    float: right;
    height: 150px;
    width: 150px;
}

#info {
    background-color: #f7eddc;
    height: 600px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    float: initial;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 24px;
    background: #f7eddc;
}

::-webkit-scrollbar-track {
    background: #948e84;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #aca59a;
}

::-webkit-scrollbar-thumb:hover {
    background: #c5bdb0;
}