
#mainContainer {
    padding: 3.33vh 0 3.33vh 0;
    position: fixed;
    height: 80vh;
    background-color: #f7eddc;
}

#profileRow {
    border-width: 1px;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 36vh;
    width: 98vw;
    top: 3.33vh;
    right: 1vw;
    left: 1vw;
}

#rowDivider {
    height: 1.34vh;
    position: absolute;
    top: 39.33vh;
    left: 2.5vw;
    right: 2.5vw;
}

hr {
    display: block;
    width: 95vw;
    border: 0.0625vh solid black;
    margin: 0.5vh 0 0 0;
}

#listingsRow {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 36vh;
    width: 98vw;
    bottom: 3.33vh;
    right: 1vw;
    left: 1vw;
}


#profilePictureArea {
    border: 1px solid red;
    background: transparent;
    position: absolute;
    left: 0;
    width: 16.33vw;
    height: 36vh;
}

#profilePic {
    border: 1px solid black;
    border-radius: 20vw;
    width: 12vw;
    height: 12vw;
    position: absolute;
    left: 2.165vw;
    right: 4.165vw;
    top: 6vh;
}

.label-ucsd {
    border: 1px solid black;
    color: #f4e92d;
    padding: 8px;
    background: #1e65a9;
    font: 1.25em "Arial Black";
    position: absolute;
    left: 6vw;
    top: 21vh;
}

#bioArea {
    border: 1px solid orange;
    position: absolute;
    left: 16.33vw;
    width: 32.66vw;
    height: 36vh;
    font: 1.25em "Arial";
    background:transparent;
    font-weight: normal;
}

#userName {
    font-size: 2em;
    margin: 8vh 0 0 1vw;
}

#userInfo {
    font-size: 1.25em;
    margin: 1vh 0 0 1vw;
}

#biography {
    margin: 4vh 0 0 1vw;
}

#ratingArea {
    border: 1px solid yellow;
    background:transparent;
    border-width: 1px;
    position: absolute;
    left: 48.99vw;
    width: 16.33vw;
    height: 36vh;
}

#ratingString {
    margin: 4vh 0 12vh 0;
    font: 20px Arial;
    text-align: center;
}

#buttonU{
    margin-left: 2.5vw;
}

#buttonP{
    margin-top:1vh;
    margin-left:1vw;
}


#progressArea {
    border: 1px solid darkgoldenrod;
    background: transparent;
    position: absolute;
    left: 65.33vw;
    width: 27.66vw;
    height: 36vh;
}

#postedListings {
    display: grid;
    border:1px solid indigo;
    background: transparent;
    position: absolute;
    left: 0vw;
    width: 45vw;
    height: 36vh;
    font: 18px "Arial";
    float: left;
    font-weight: normal;
}

#favoriteListings {
    display: grid;
    border:1px solid violet;
    background: transparent;
    position: absolute;
    left: 50vw;
    width: 45vw;
    height: 36vh;
    font: 18px "Arial";
    float: right;
    font-weight: normal;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 24px;
    background: #f7eddc;
}

::-webkit-scrollbar-track {
    background: #948e84;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #aca59a;
}

::-webkit-scrollbar-thumb:hover {
    background: #c5bdb0;
}