h2{
    color: black !important;
    font-size: 30px;
    margin-bottom: 18px !important;
}

.container{
    width: 100% !important;
}

.listingPreviewContainer{
    /*border: 1px solid red;*/
    background: antiquewhite;
    position: relative;
    height: 100%;
}


.container{
    width: 100% !important;
}


/*.resultsContainer{*/
    /*background-color: antiquewhite;*/
/*}*/

